<template name="menuItem">

  <div class="col s6 m4 l3">
      <div class="card hoverable center-align">

          <span class="card-title">{{title}}</span>
          <br>
          <span class="card-description">{{opisanie}}</span>
          <br>
          <span>Белки:{{bju.ugli}}</span>
          <br>
            <span>Углеводы:{{bju.ugli}}</span>
            <br>
              <span>Жиры:{{bju.fat}}</span>

          <div class="card-image">

              <img src="images/foodItems/unagi.png" height="" weight="">


          </div>
          <div class="card-content">
              <a class="waves-effect waves-light #ffffff white btn">ВЫБРАТЬ
        <span class="itemPrice">{{price}} BYN.</span>
      </a>
              <br>

              <a href="#" class="sostav">состав</a>
          </div>
      </div>
  </div>

</template>
