<template name="header">

<div class="navbar-fixed">
    <nav class="black">
        <div class="nav-wrapper">
            <a href="#" data-activates="dropdown1" class="dropdown-button button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">
                <img src="/images/logo.png" height="80" alt="">
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">СУШИ</a></li>
                <li><a href="#">СЕТЫ</a></li>
                <li><a href="#">ВОК</a></li>
                <li><a href="#">ДЕСЕРТЫ</a></li>
                <li><a href="#">НАПИТКИ</a></li>
                <li><a class="vok" href="#">ВОК</a></li>
                <li class="plus">
                    <span>+</span>
                </li>
            </ul>
            <ul class="hide-on-med-and-down right">
                <li>
                    <span class="workTime">пн—вс с 10:00 до 22:00</span>
                </li>
                <li><a class="phone" href="tel:+375(33)6580038">+375 (33) 658 00 38</a></li>

                <li>
                    <a href="#" class="">
                        <i data-activates="slide-out" class="shopping-cart material-icons large"><span id="total">11</span>shopping_cart
              <span id="totalPrice">25 BYN.</span></i>
                    </a>
                </li>
            </ul>
        </div>

</nav>
</div>

</template>
