.sideCartPanel  h6 {
margin-top: 20px;
margin-bottom: 40px;
font-family: Gilroy-Medium !important;
font-size: 36px;
}
.sideCartPanel span {
font-size: 18px;
font-family: Gilroy-Light;
}
.sideCartPanel li {
line-height: 12px !important;
}
.sideCartPanel li {
  margin-right: 20px;
  margin-left: 20px;
}
.totalInCart {
margin-top: 100px;
}
